.errors
  = render "devise/shared/error_messages", resource: current_user
  - if @user_address.errors.any?
    %h2= "#{@user_address.errors.full_messages.count}件のエラーが発生しました。"
    %ul
      - @user_address.errors.full_messages.each do |message|
        %li= message
.user-info
  .user-info__container
    .user-info__container__contents
      .user-info__container__contents__content
        .user-info__container__contents__content__left
          .user-info__container__contents__content__left__image
            %img.user-info__container__contents__content__left__image__user
              = image_tag src="ログイン素材.png", size: "110x110"
          .user-info__container__contents__content__left__like-count
            = icon('fas', 'heart', class: 'user-info__container__contents__content__left__like-count__heart')
            %p.user-info__container__contents__content__left__like-count__counter
              0
        .user-info__container__contents__content__right
          .user-info__container__contents__content__right__top
            %p.user-info__container__contents__content__right__top__user-shop
              = current_user.nickname
              Shop
            .user-info__container__contents__content__right__top__user-profile
              %input(type="button" id="button" value="プロフィール編集")
                = icon('fas', 'cog', class: 'user-info__container__contents__content__right__top__user-profile__edit')
            %p.user-info__container__contents__content__right__top__user-name 
              = current_user.nickname
          .user-info__container__contents__content__right__middle
            = link_to '#' do
              ショップ詳細
          .user-info__container__contents__content__right__bottom
            = link_to "ログアウト", destroy_user_session_path, method: :delete 