//会員登録
.Member_registration
  -# .Member_registration__close
  -#   ×

  .Member_registration__register
    会員登録

  //■フォーム
  = form_for(@user, url: user_registration_path) do |f|
    = render "devise/shared/error_messages", resource: @user

    .Member_registration__nickname.Member_registration--form
      %ul.Member_registration__label
        %li.Address_registration_required_item 必須
        %li ニックネーム
      = f.text_field :nickname, class: "Member_registration__input"

    .Member_registration__mailaddress.Member_registration--form
      %ul.Member_registration__label
        %li.Address_registration_required_item 必須
        %li メールアドレス
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "Member_registration__input"

    .Member_registration__password.Member_registration--form
      %ul.Member_registration__label
        %li.Address_registration_required_item 必須
        %li パスワード
      -if @omniauth
        = f.password_field :password, autocomplete: "new-password", class: "Member_registration__input", value: @snspass
      - else
        = f.password_field :password, autocomplete: "new-password", class: "Member_registration__input"
    .Member_registration__nickname.Member_registration--form
      %ul.Member_registration__label
        %li.Address_registration_required_item 必須
        %li パスワード(確認)
      -if @omniauth  
        = f.password_field :password, autocomplete: "new-password", class: "Member_registration__input", value: @snspass
      -else
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "Member_registration__input"

    .Member_registration__last_name.Member_registration--form
      %ul.Member_registration__label
        %li.Address_registration_required_item 必須
        %li 苗字
      = f.text_field :last_name, class: "Member_registration__input"

    .Member_registration__first_name.Member_registration--form
      %ul.Member_registration__label
        %li.Address_registration_required_item 必須
        %li 名前
      = f.text_field :first_name, class: "Member_registration__input"

    .Member_registration__furigana_last.Member_registration--form
      %ul.Member_registration__label
        %li.Address_registration_required_item 必須
        %li ふりがな(苗字)
      = f.text_field :last_name_kana, class: "Member_registration__input"
      
    .Member_registration__furigana_first.Member_registration--form
      %ul.Member_registration__label
        %li.Address_registration_required_item 必須
        %li ふりがな(名前)
      = f.text_field :first_name_kana, class: "Member_registration__input"
      
    .Member_registration__birthday.Member_registration--form
      %ul.Member_registration__label
        %li.Address_registration_required_item 必須
        %li 生年月日
      = f.date_field :birthday, class: "Member_registration__input"
      
    .Member_registration__introduction.Member_registration--form
      %ul.Member_registration__label
        %li.Address_registration_required_item.Address_registration_required_item--not_required
        %li 自己紹介
      = f.text_field :introduction, class: "Member_registration__input"
      
          
    //「次へ」ボタン
    .Member_registration__submit
      = f.submit "次へ", class: "Member_registration__input"

  .Member_registration__existing_id
    = link_to "既存IDをお持ちの方はこちら（ログイン）", new_user_session_path
    %p
      = link_to "Facebookアカウントで登録", user_facebook_omniauth_authorize_path
    %p
      = link_to "Googleアカウントで登録", user_google_oauth2_omniauth_authorize_path
