//ログインページ
.Login_main_page
  .Login_box

    .Login_box_information
      .Login_box_information--logo
        = image_tag src="logo.png"

      .Login_which_one
        .Login_which_one__first_time_use
          = link_to "はじめてご利用になる方", new_user_registration_path
        .Login_which_one__already_have_account
          アカウントをお持ちの方
        .Login_which_one__sns-login
          -# %p
          -#   = link_to "Facebookアカウントでログイン", user_facebook_omniauth_authorize_path
          %p  
            = link_to "Googleアカウントでログイン", user_google_oauth2_omniauth_authorize_path
      
      //アカウントをお持ちの方をクリックすると表示される。
      .Login_form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .Login_form__mail_address
            = f.email_field :email, autofocus: true, placeholder: 'メールアドレス'
          .Login_form__password
            = f.password_field :password, autocomplete: "off", placeholder: 'パスワード'
          .Login_form__submit
            = f.submit "ログイン", class: 'Button UserButton'

        .Login_form__first_use
          = link_to new_user_registration_path do
            = icon('fas', 'caret-right', class: 'Account__btn-icon')
            はじめてご利用になる方
            
  .Login_footer

//会員登録
-# =render("devise/sessions/member_registration")
-# =render("devise/sessions/new_address")

