.buy-content
  %h1.buy-content__attention
    %p 購入が完了しました
    %p 発送をお待ちください
  .buy-content__item
    .buy-content__item__inner
      .buy-content__item__inner__main
      .buy-content__item__inner__image
        = image_tag "#{@product_image.image.url}", size: '116x116', class: 'buydetails-contet__image'
      .buy-content__item__inner__detail
      .buy-content__item__inner__name
        = @product.product_name
        %p.buy-price
          %span 
            = "¥#{@product.price.to_s}"
          %span
  .shipping-free (税込) 送料込み
  .buy-content__item
    %form.buy-form
  .buy-price-table
    .buy-price-table__left
      支払金額
    .buy-price-table__right
      = "¥#{@product.price.to_s}"
  .buy-content__user-info__submit
    = link_to "トップページへ戻る", root_path, class: 'buy-content__user-info__submit__button'
