= form_with(class: "Main_Container", model: @product, local: true) do |f|

  .Main
    = render 'layouts/error_messages', model: f.object
    .Main__left
      = f.fields_for :product_images,@product.product_images.new do |image|
        .Main__left__Image1
          .image_group{"data-index": 0}
            %img.Review_left__No_image{ src: "/assets/img_photo.gif", alt: "logo",id: "img0"}
            = image.file_field :image,id:"product_images_attributes_0_image"

        .Main__left__Kowaku
          .Main__left__Image2
            .image_group{"data-index": 1}
              %img.Review_left__No_image{ src: "/assets/icon_camera.gif", alt: "logo",id: "img1"}
              %input{id: "product_images_attributes_1_image", :name => "product[product_images_attributes][1][image]", type: "file"}/

          .Main__left__Image3
            .image_group{"data-index": 2}
              %img.Review_left__No_image{ src: "/assets/icon_camera.gif", alt: "logo",id: "img2"}
              %input{id: "product_images_attributes_2_image", :name => "product[product_images_attributes][2][image]", type: "file"}/

          .Main__left__Image4
            .image_group{"data-index": 3}
              %img.Review_left__No_image{ src: "/assets/icon_camera.gif", alt: "logo",id: "img3"}
              %input{id: "product_images_attributes_3_image", :name => "product[product_images_attributes][3][image]", type: "file"}/



    .Main__right
      .Main__left__kingaku  
        価格(¥300~50,000)#{f.number_field :price}
        %br/

      .Main__left__kingaku
        商品名#{f.text_field :product_name}
        %br/
      .Main__left__kingaku
        商品説明#{f.text_field :description}
        %br/      
      .Main__left__category
        .category
          .form__label
            .lavel__name 
              カテゴリー
            .lavel__Required
              [必須]
          =f.collection_select :category_id, @category_parent_array, :id, :name,{ include_blank: "選択してください"},class:"serect_field"
        
      .Main__left__brand
        %p ブランド（任意）
        = f.collection_select :brand_id, Brand.all, :id, :name, { include_blank: "---", selected:"" }, id: "category_form"

      .Main__left__size
        %p サイズ（任意）
        = f.select :size, Product.sizes.keys,{prompt:"サイズを選択しない"},  id: "select_status"

        

      .Main__left__jyoutai
        %p 状態
        = f.select :product_status, Product.product_statuses.keys,{prompt:"---"},  id: "select_status"
 
      .Main__left__haisouryou
        %p 配送料
        = f.select :shipping_fee, Product.shipping_fees.keys,{prompt:"---"},  id: "select_status"

      .Main__left__haisouhouhou
        %p 配送方法
        = f.select :shipping_type, Product.shipping_types.keys,{prompt:"---"},  id: "select_status"

      .Main__left__shuppinchiiki
        %p 出品地域
        = f.collection_select :prefecture, Prefecture.all, :id, :name, { include_blank: "---", selected:"" }, id: "category_form"
        

      .Main__left__hassoubinomeyasu
        %p 発送日の目安
        = f.select :shipping_day, Product.shipping_days.keys,{prompt:"---"}, id: "select_status"


  .Main_submit
    %input.Main_submit--button{value: "投稿する", type:"submit"}


