%p.complete 商品の出品が完了しました。
.product-create-wrapper
  = link_to products_path class: "index-link" do
    .index-link__btn 商品一覧へ
  .Create-product
    %h2.Create-product__name
      = @product.product_name
    .Create-product__main
      = image_tag "#{@images.first.image}", class: "Create-product__main-image"
    .Create-product__sub
      .Create-product__sub-images
        - @images[1..-1].each do |i|
          = image_tag "#{i.image}", size: "160×120", class: "Create-product__sub-image"
    .Create-product__price-box
      %p.Create-product__price
        = "¥#{@product.price}"
      %p.Create-product__price-detail
        (税込)送料込み
    %p.Create-product__explanation
      = @product.description
    .Create-product__table
      %table
        %tr
          %th
            出品者
          %td
            = @product.seller.nickname
        %tr
          %th
            カテゴリー
          - if [46, 74, 134, 142, 147, 150].include?(@product.category_id)
            %td
              = @category_child.name
              %br= @category_grandchild.name
          - else
            %td
              = @category_parent.name
              %br= @category_child.name
              = @category_grandchild.name
        %tr
          %th
            ブランド
          %td
            - if @product.brand_id.present?
              = @product.brand.name
        %tr
          %th 
            商品のサイズ
          %td
            = @product.size
        %tr
          %th
            商品の状態
          %td
            = @product.product_status
        %tr
          %th
            配送料の負担
          %td
            = @product.shipping_fee
        %tr
          %th
            発送元の地域
          %td
            = @product.prefecture.name
        %tr
          %th
            発送日の目安
          %td
            = @product.shipping_day