= render 'home/upper_filed'
= render 'breadcrumbs'

.product_show_wrapper
  .Product
    %h2.Product__name
      = @product.product_name
    .Product__main
      = image_tag "#{@images.first.image}", class: "Product__main-image"
    .Product__sub
      .Product__sub-images
        - @images[1..-1].each do |i|
          = image_tag "#{i.image}", size: "160×120", class: "Product__sub-image"
    .Product__price-box
      %p.Product__price
        = "¥#{@product.price}"
      %p.Product__price-detail
        (税込)送料込み
    %p.Product__explanation
      = @product.description
    .Product__table
      %table
        %tr
          %th
            出品者
          %td
            = @product.seller.nickname
        %tr
          %th
            カテゴリー
          - if [46, 74, 134, 142, 147, 150].include?(@product.category_id)
            %td
              = link_to "#{@category_child.name}", "#"
              %br= link_to "#{@category_grandchild.name}", "#" 
          - else
            %td
              = link_to "#{@category_parent.name}", "#"
              %br= link_to "#{@category_child.name}", "#"
              = link_to "#{@category_grandchild.name}", "#"
        %tr
          %th
            ブランド
          %td
            - if @product.brand_id.present?
              = @product.brand.name
        %tr
          %th 
            商品のサイズ
          %td
            = @product.size
        %tr
          %th
            商品の状態
          %td
            = @product.product_status
        %tr
          %th
            配送料の負担
          %td
            = @product.shipping_fee
        %tr
          %th
            発送元の地域
          %td
            = @product.prefecture.name
        %tr
          %th
            発送日の目安
          %td
            = @product.shipping_day
    .Product__btn
      - if user_signed_in? && current_user.id == @product.seller_id
        = link_to "#" do
          .Product__icon
            %p 商品情報を編集する
        = link_to product_path(@product), method: :delete, data: {confirm: "削除しますか"} do
          .Product__icon
            %p 商品を削除する
      - elsif user_signed_in? && current_user.id != @product.seller_id
        = link_to product_buyers_path(@product) do
          .Product__icon
            %p 購入画面に進む
      - else
        %p ※ログインすると購入できます。
        = link_to new_user_session_path do
          .Product__icon
            %p ログインはこちらから
    .Product__option
      %ul.Option
        %li.Option__like-btn
          = link_to "#", class: "Option__link--blue" do
            .Option__link-wrapper
              = icon('fas', 'star')
              %p お気に入り 0
        %li.Option__report-btn
          = link_to "#", class: "Option__link--black" do
            .Option__link-wrapper
              = icon('fas', 'flag')
              %p 不適切な商品の通報

  .Comment
    .Comment__form
      %textarea.Comment__text-form
      %p.Comment__caution
        相手のことを考え丁寧なコメントを心がけましょう。
        %br 
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %button.Comment__btn{type: "submit"}
        = icon('fas', 'comment')
        コメントする

  .Related
    %ul.Related__links
      %li
        = link_to "#", class: "Related__link" do
          .Related__link-wrapper
            = icon('fas', 'angle-left')
            %p 前の商品
      %li
        = link_to "#", class: "Related__link" do
          .Related__link-wrapper
            %p 後ろの商品
            = icon('fas', 'angle-right')
    .Related__more
      = link_to "ベビー・キッズをもっと見る", "#", class: "Related__more-link"
    .Related__products
      .Related-product
        = link_to "#", class: "Related-product__link" do
          .Related-product__head
            = image_tag "a003.png", class: "Related-product__head-img"
          .Related-body
            %p.Related-body__name product2
            .Related-body__details
              %ul
                %li 1000円
                %li 
                  = icon('fas', 'star')
                  0
              %p (税込)

= render 'home/under_field'
.exhibition-btn
  %span.exhibition-btn__text 出品する
  = link_to new_product_path do
    =image_tag 'icon_camera.png', alt: '出品', height: '54px', width: '54px', class: '.exhibition-btn__icon'
