!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FleamarketSample79c
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      - if user_signed_in?
        .login
          = link_to "ログアウト", destroy_user_session_path, method: :delete
        .mypage
          = link_to "マイページ", user_path(current_user.id)
      - else
        .login
          = link_to "ログイン", new_user_session_path      
        .sign-up
          = link_to "新規会員登録", new_user_registration_path
          
    = render 'layouts/notifications'
                  
    = yield
